<div>
  <input
    type="text"
    placeholder="Date time..."
    #dp_1 cdkOverlayOrigin
    #dp_1_trigger="cdkOverlayOrigin"
    (change)="onChanged()"
  >
  <gxd-datepicker
    [input]="dp_1"
    [origin]="dp_1_trigger"
    [options]="{ margin: 4 }"
  ></gxd-datepicker>
</div>

<div>
  <input
    type="text"
    placeholder="Date..."
    #dp_2 cdkOverlayOrigin
    #dp_2_trigger="cdkOverlayOrigin"
    (change)="onChanged()"
  >
  <gxd-datepicker
    [input]="dp_2"
    [origin]="dp_2_trigger"
    [options]="{ date: true, time: false, margin: 4 }"
  ></gxd-datepicker>
</div>

<div>
  <input
    type="text"
    placeholder="Time..."
    #dp_3 cdkOverlayOrigin
    #dp_3_trigger="cdkOverlayOrigin"
    (change)="onChanged()"
  >
  <gxd-datepicker
    [input]="dp_3"
    [origin]="dp_3_trigger"
    [options]="{ date: false, time: true, margin: 4 }"
  ></gxd-datepicker>
</div>

<div>
  <input
    type="text"
    placeholder="Time AM/PM..."
    #dp_4 cdkOverlayOrigin
    #dp_4_trigger="cdkOverlayOrigin"
    (change)="onChanged()"
  >
  <gxd-datepicker
    [input]="dp_4"
    [origin]="dp_4_trigger"
    [options]="{ date: false, time: true, clock12: true, margin: 4 }"
  ></gxd-datepicker>
</div>

<div>
  <input
    type="text"
    placeholder="Date time..."
    #dp_5 cdkOverlayOrigin
    #dp_5_trigger="cdkOverlayOrigin"
    (change)="onChanged()"
  >
  <gxd-datepicker
    [input]="dp_5"
    [origin]="dp_5_trigger"
    [options]="{ theme: 'custom', margin: 4 }"
  ></gxd-datepicker>
</div>

<div [formGroup]="form">
  <div>
    <input
      type="text"
      formControlName="staticDatetime"
      placeholder="Static date..."
      (change)="onChanged()"
      #dp_6
    >
  <div>
    <gxd-datepicker
      [options]="{ date: true, time: false, static: true }"
      [input]="dp_6"
      [dateRanges]="dateRanges">
    </gxd-datepicker>
  </div>
</div>

<div [formGroup]="form">
  <div>FormControl value: {{form.value['datetime']}}</div>
  <input
    type="text"
    formControlName="datetime"
    placeholder="Date time form..."
    #dp_7 cdkOverlayOrigin
    #dp_7_trigger="cdkOverlayOrigin"
    (change)="onChanged()"
  >
  <gxd-datepicker
    [input]="dp_7"
    [origin]="dp_7_trigger"
    [options]="{ margin: 4 }"
  ></gxd-datepicker>
</div>
